---
---

@import "{{ site.theme }}";

#header_wrap {
    background: #3C4F6F;
    border-style: double;
    border-color: white;
    border-size: 1px;
}

#footer_wrap {
    background: #3C4F6F;
}

#header_wrap .inner {
    padding: 10px 10px 10px 10px;
}
