---
---

@import "{{ site.theme }}";

#header_wrap {
    background: linear-gradient(to top, #3C4F6F, #3C4F6F);
}

#project_title {
    margin: 0;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: normal;
}

#footer_wrap {
    background: linear-gradient(to top, #3C4F6F, #3C4F6F);
}

#header_wrap .inner {
    padding: 10px 10px 10px 10px;
}

